@model InvoiceManagementSystem.Models.Entities.Apartment
@{
    ViewData["Title"] = "ListApartment";
}

<h1>ListApartment</h1>

<form asp-action="CreateApartment" method="post">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <div>@error.ErrorMessage</div>
            }
        </div>
    }
    <div class="form-group">
        <label asp-for="ApartmentNo"></label>
        <input asp-for="ApartmentNo" class="form-control" />
        <span asp-validation-for="ApartmentNo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Floor"></label>
        <input asp-for="Floor" class="form-control" />
        <span asp-validation-for="Floor" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Block"></label>
        <input asp-for="Block" class="form-control" />
        <span asp-validation-for="Block" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Type"></label>
        <input asp-for="Type" class="form-control" />
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="User.FirstName"></label>
        <input asp-for="User.FirstName" class="form-control" />
        <span asp-validation-for="User.FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserId">Select User</label>
        <input asp-for="UserId" asp-items="ViewBag.Users" class="form-control" />
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Status"></label>
        <input asp-for="Status" class="form-control" />
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Oluştur</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}